#############################
#### Configuration Files ####
#############################
.DS_Store
.vscode
.idea
.fleet
.junie

#############################
### Build Files & Folders ###
#############################
dist/
build/
wheels/
*.egg-info/
__pycache__/

#############################
### venv & Code Coverage ####
#############################
.venv/
.coverage
/htmlcov

#############################
############ uv #############
#############################
.python-version
uv.lock

#############################
########### Misc ############
#############################
.mypy_cache
.pytest_cache
sitemap.xml
test_sitemap.py
Projektbeschreibung.md
